torch~=1.13.0
FastNLP~=1.0.0
importlib~=1.0.4
regex~=2022.7.9
addict~=2.4.0
yapf~=0.32.0
requests~=2.28.1
defaultlist~=1.0.0
setuptools~=63.4.1
numpy~=1.23.5
datasets~=2.9.0
texttable~=1.6.7